html {
  font-family: Helvetica;
}
.title {
  font-family: Helvetica;
  font-size: 50px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

.first_title {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: left;
  color: white;
  background-color: mediumspringgreen;
}
.span_01 {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;

}

.secound_title {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: left;
  color: white;
  background-color: lightcoral;
}

.therd_title {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: left;
  color: white;
  background-color: skyblue;
}
